<% unless repos.nil? %>
<ul class="repo-list">
  <% repos.each do |repo| %>
    <li>
      <a href="<%= repo.path %>"><%= "#{repo.username}/#{repo.project_name}" %></a>
      <a href="<%= repo.source_url %>" style="float: right">(<%= repo.service %>)</a>
    </li>
  <% end %>
</ul>
<% end %>
