html,
body {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  /* font-size: 18px; */
  font-family: "Avenir", "Tahoma", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

a {
  color: #263F6C;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.repo-list>li {
  margin: 5px 0px;
  border: 1px solid #ccc;
  display: flex;
  padding: 10px 10px 0px 10px;
  transition: box-shadow 0.3s ease;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul.repo-list>li>a {
  text-decoration: none;
  margin-bottom: 10px;
}

ul.repo-list>li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

a:visited {
  color: #112750;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 35px 0 25px;
  color: #444444;
}

h2 {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5px;
}

.main-content {
  padding: 0 30px 30px 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

pre {
  padding: 10px 20px;
  margin-top: 4px;
  border-radius: 3px;
  line-height: 1.45;
  overflow: auto;
  color: #333;
  background: #fdfdfd;
  font-size: 14px;
  border: 1px solid #eee;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
}

:not(pre)>code {
  background-color: rgba(40, 35, 30, 0.05);
  padding: 0.2em 0.4em;
  font-size: 85%;
  border-radius: 3px;
}

img {
  max-width: 100%;
}

form {
  margin: 20px 0;
}

form div {
  position: relative;
}

input,
select,
textarea {
  font-size: 16px;
}

table {
  font-size: 14px;
  background: #fdfdfd;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 10px;
}

table th {
  padding: 10px;
  letter-spacing: 1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table td {
  padding: 10px;
}

.search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

div.search-buttons {
  display: flex;
  text-align: center;
  padding-top: 20px;
}

div.search-buttons>a {
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  margin: 0 3px;
  border-radius: 5px;

}

div.search-buttons>a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.word-breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

a.no-decoration {
  color: #333;
  text-decoration: none;
}

a.no-decoration:hover {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.htmx-indicator {
  display: none;
}

.pill-box {
  display: inline-block;
  font-size: 90%;
  margin-bottom: 10px;
}

.pill {
  background-color: #efefef;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0px 3px;
}

.pill>a {
  text-decoration: none;
}

#new-repository-indicator.htmx-request {
  display: inline;
}

@media only screen and (max-width: 745px) {
  .main-content {
    max-width: 100%;
  }

  #new-url-box {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  html,
  body {
    background: #1b1b1b;
  }

  body {
    color: white;
  }

  a {
    color: #8cb4ff;
  }

  a:visited {
    color: #5f8de3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  h1.type-name {
    color: white;
    background-color: #202020;
    border: 1px solid #353535;
  }

  :not(pre)>code {
    background-color: #202020;
  }

  pre,
  table {
    color: white;
    background: #202020;
    border: 1px solid #353535;
  }

  ul.repo-list>li {
    border: 1px solid #353535;
  }

  ul.repo-list>li:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  }

  div.search-buttons>a {
    border: 1px solid #353535;
  }

  div.search-buttons>a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  }

  table th {
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
  }

  a.no-decoration {
    color: white;
  }

  a.no-decoration:hover {
    color: white;
  }

  .pill {
    background-color: #333;
  }
}
