<!DOCTYPE html>

<html>
<head>
  <link href="/css/style.css" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <title>CrystalDoc.info - Crystal Shards API Documentation</title>
</head>
<body>
  <div class="main-content">
    <%= content %>
  </div>
</body>
</html>
