<!DOCTYPE html>

<html>
<head>
  <link href="/css/style.css" rel="stylesheet">

  <title>CrystalDoc.info - Crystal Shard Documentation</title>
</head>
<body>
  <div class="main-content">
    <%= content %>
  </div>
</body>
</html>
